

.mif-flexmi::before {
    content: url("images/flexmi.png");
}

.mif-html::before {
    content: url("images/html.gif");
}

.mif-emfatic::before {
    content: url("images/emfatic.png");
}

.mif-clear::before {
	content: url("images/clear.gif");
}

.mif-console::before {
	content: url("images/console.gif");
}

.mif-diagram::before {
	content: url("images/diagram.gif");
}

.mif-refresh::before {
	content: url("images/refresh.png");
}

.mif-run::before {
	content: url("images/run.png");
}

.mif-info::before {
	content: url("images/info.png");
}

.mif-link::before {
	content: url("images/link.png");
}

.mif-help::before {
	content: url("images/help.png");
}

.mif-problems::before {
	content: url("images/problems.png");
}

.mif-editor::before {
	content: url("images/editor.gif");
}

.mif-highlight::before {
	content: url("images/highlight.png");
}